.sidebar{
    display: flex;
    flex-direction: column;
    flex: .35;
    background-color: rgb(238, 238, 238);
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-right: 1px solid rgb(208, 207, 207);
    margin-left: 10px ;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
}

.icons > .MuiSvgIcon-root{
    font-size: 50px !important;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin: 10px ;
    border-radius: 5px;  
}


.search > input{
  
    border: 0 ;
    outline-width: 0 ;
    height: 39px;
    padding: 10px;
    background-color: rgb(250, 249, 249);
}

.channels{
    border: 1px solid lightgray;
    background-color: white;
    height: 90vh;
    border-radius: 5px;
    margin: 10px;

}