.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background-color: rgb(227, 237, 226);
  /* background-color: lightgreen; */
}
.app__wrapper {
  display: flex;
  background-color: rgb(244, 243, 243);
  height: 90vh;
  width: 90vh;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
